*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}

body{
    background-color: #F6F8F9;
}

/*logo*/
.logo{
    padding: 10px 0px 10px 15px;
    background-color: white;
}

img{
    height: 50px;
    vertical-align: middle;   
}

.logo-text{
    display: inline-block;
    vertical-align: middle;
}

/*comandi*/
.command{
    background-color: white;
    margin:25px auto 0px;
    max-width: 900px;
    padding: 10px 0px 5px 20px;
    border-bottom: 2px solid #F6F8F9;
}

.button{
    font-size: 20px;
    padding: 5px;
    border-radius: 10px;
}

.second{
    opacity: 0.3;
}

.first{
    background-color: #47ADF1;
    border-color: #47ADF1;
    color: white;
}

/*lista*/
.lista{
    background-color: white;
    margin:0 auto;
    max-width: 900px;
    padding: 20px;
    line-height: 32px;
}

ol{
    list-style-type: none;
}

.list-title{
    padding-top: 15px;
}

.list-title::before{
    content:"\25BC";
    font-size: 15px;
    vertical-align: middle
}

li>span{
    border-radius: 15px;
    color: white;
    padding: 5px;
}

.done::before{
    content:"\1F5F8";
    color: green;
    font-size: 15px;
    border: 1px solid green;
    border-radius: 15px;
    padding: 3px;
    margin: 2px;
}

.undone::before{
    content: "\2717";
    color: red;
    font-size: 15px;
    border: 1px solid red;
    border-radius: 15px;
    padding: 3px;
    margin: 2px;
}

.editoriale{
    background-color: #45ABEA;
}

.viola{
    background-color: #9C72E4;
}

.verde{
    background-color: #64C0A9;
}
.arancione{
    background-color: #f29e33;
}
.rosa{
    background-color: #D863A1;
}
.verdelight{
    background-color: #B0C926;
}